PlanetBiomes/distorted.png
PlanetBiomes/raw_pattern.png
PlanetBiomes/remapped.png
PlanetBiomes/csv/BlockPatterns.csv
PlanetBiomes/csv/PatternToBiome.py
PlanetBiomes/csv/Biomes - Copy.csv
PlanetBiomes/assets/materials/Layered/LayeredMaterials/HoudiniPlanets/HoudiniPlanet_Jemison.mat
PlanetBiomes/assets/textures/planets/houdiniplanets/terrainmapsshared/rock_03_mixed_rough.dds
PlanetBiomes/assets/textures/planets/houdiniplanets/terrainmapsshared/rock_03_mixed_normal.dds
PlanetBiomes/assets/textures/planets/houdiniplanets/terrainmapsshared/rock_03_mixed_ao.dds
PlanetBiomes/assets/textures/planets/houdiniplanets/tilingmetalrough/planetnoiseridgeswirl01_normal.dds
PlanetBiomes/assets/textures/planets/houdiniplanets/terrainmapsshared/rock_10_mixed_normal.dds
PlanetBiomes/assets/textures/planets/houdiniplanets/terrainmapsshared/rock_04_thermal_rough.dds
PlanetBiomes/assets/textures/planets/houdiniplanets/terrainmapsshared/rock_04_thermal_normal.dds
PlanetBiomes/assets/textures/planets/houdiniplanets/terrainmapsshared/rock_04_thermal_ao.dds
PlanetBiomes/assets/materials/Layered/LayeredMaterials/HoudiniPlanets/HoudiniPlanet_Earth.mat
PlanetBiomes/assets/materials/Layered/LayeredMaterials/HoudiniPlanets/HoudiniPlanet_Oceanic2_atmosphere.mat
PlanetBiomes/assets/textures/planets/houdiniplanets/biomemasks/jemison_color.dds
PlanetBiomes/assets/textures/planets/houdiniplanets/biomemasks/jemison_ocean_mask.dds
PlanetBiomes/assets/textures/planets/houdiniplanets/biomemasks/jemison_surface_a_mask.dds
PlanetBiomes/assets/textures/planets/houdiniplanets/extra/planet_material_warning_color.dds
PlanetBiomes/assets/images/textures/planets/houdiniplanets/biomemasks/jemison_surface_a_mask.dds
PlanetBiomes/assets/images/textures/planets/houdiniplanets/biomemasks/jemison_ocean_mask.dds
PlanetBiomes/assets/images/textures/planets/houdiniplanets/biomemasks/jemison_color.dds
PlanetBiomes/csv/blended_biome_colors.png
PlanetBiomes/csv/natural_palette.csv
PlanetBiomes/csv/natural_palette.png
PlanetBiomes/csv/PaletteGenerator.py
PlanetBiomes/csv/planet_biome_palette.png
PlanetBiomes/csv/planet_blended_colors.csv
PlanetBiomes/csv/PlanetColors.csv
PlanetBiomes/src/BruteHash.py
PlanetBiomes/assets/BiomesPalette.py
PlanetBiomes/src/preview.mat
PlanetBiomes/csv/SurfaceBlocks.csv
PlanetBiomes/csv/SurfacePatterns.csv
PlanetBiomes/src/Old_Jagged_Mirrored_Plates_PlanetBiomes.py
PlanetBiomes/assets/textures/planets/houdiniplanets/terrainmapsshared/rock_05_mixed_rough.dds
PlanetBiomes/assets/textures/planets/houdiniplanets/terrainmapsshared/rock_05_mixed_normal.dds
PlanetBiomes/assets/textures/planets/houdiniplanets/terrainmapsshared/rock_05_mixed_ao.dds
PlanetBiomes/1024_PreFixes.png
PlanetBiomes/src/PlanetPlanet.py
